<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--android:hardwareAccelerated="true" <- 전체 어플리케이션 하드웨어가속을 하려면  application태그 안에 삽입-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/martroo_main2"
        android:label="마트루"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".SplashActivity"
            >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VersionUpdateDialog"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <service android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".MainActivity"
            android:launchMode="singleInstance">

            <!--
            안드로이드 딥링크 작업
            문자나 브라우저에서 링크클릭시 안드로이드 시스템이 인텐트를 인식하여 앱을 띄우게한다.
            파이어베이스 Dynamic Link와 별도로 설정및 host와 scheme를 명시해줘야한다.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.martroo.com"
                    android:scheme="http" />
                <data
                    android:host="m.martroo.com"
                    android:scheme="http" />
                <data
                    android:host="petfriends.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="matroo-channel"/>

        <!--
        FCM 백그라운드에서 노티 아이콘 설정

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/test"/>


        FCM 백그라운드에서 노티피케이션(타이틀포함) 색 설정

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@android:color/holo_red_light"/>

        -->





    </application>

</manifest>